[Unit]
Description=Cacophonator rs485 controller
After=network.target

[Service]
ExecStart=/usr/bin/rs485-controller
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
